.sidebar-item{

    position:relative;

    display:flex;

    align-items:center;

    gap:14px;

    padding:14px 16px;

    margin-bottom:6px;

    color:#e5e7eb;

    text-decoration:none;

    border-radius:10px;

    transition:all .25s ease;

    font-size:15px;

    font-weight:500;

}

.sidebar-item:hover{

    background:#1f2937;

    color:white;

}


.sidebar-item.active{

    background:#2563eb;

    color:white;

    box-shadow:
        0 4px 12px rgba(37,99,235,.35);

}

.sidebar-item.active::before{

    content:"";

    position:absolute;

    left:-16px;

    top:8px;

    bottom:8px;

    width:4px;

    border-radius:4px;

    background:white;

}

.sidebar-item svg{

    width:20px;

    height:20px;

    transition:.25s;

}

.sidebar-item:hover svg{

    transform:scale(1.08);

}